{% extends "base.html" %}
{% block body %}

<h2 class="page-title">Admin Dashboard</h2>

<!-- TOP ACTIONS -->
<div style="margin-bottom:16px; display:flex; gap:10px;">
    <a href="{{ url_for('admin_bp.audit_logs') }}" class="btn-primary">
        View Audit Logs
    </a>

    <a href="{{ url_for('admin_bp.create_user') }}" class="btn-primary">
        + Create Doctor / RECEPTIONIST
    </a>
    <a href="{{ url_for('admin_bp.create_user') }}" class="btn-primary">
    + Create User
</a>

</div>

<!-- STATS BOXES -->
<div class="stats-grid">

    <div class="stat-card blue">
        <h3>{{ total_users }}</h3>
        <p>Total Users</p>
    </div>

    <div class="stat-card green">
        <h3>{{ total_patients }}</h3>
        <p>Total Patients</p>
    </div>

    <div class="stat-card yellow">
        <h3>{{ total_appointments }}</h3>
        <p>Total Appointments</p>
    </div>

    <div class="stat-card red">
        <h3>{{ total_invoices }}</h3>
        <p>Total Invoices</p>
    </div>

</div>

<!-- USERS TABLE -->
<h4 class="section-title">User Accounts</h4>

<table class="styled-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th style="width:180px;">Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for u in users %}
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.fullname }}</td>
            <td>{{ u.email }}</td>

            <!-- ROLE BADGE -->
            <td>
                {% if u.role == "admin" %}
                    <span style="color:#991b1b;font-weight:600;">Admin</span>
                {% elif u.role == "doctor" %}
                    <span style="color:#065f46;font-weight:600;">Doctor</span>
                {% else %}
                    <span style="color:#374151;">reception</span>
                {% endif %}
            </td>

            <!-- ACTIONS -->
            <td class="actions">
                <a href="{{ url_for('admin_bp.edit_user', id=u.id) }}"
                   class="btn-edit">
                   Edit
                </a>

                {% if u.role != 'admin' %}
                <form method="POST"
                      action="{{ url_for('admin_bp.delete_user', id=u.id) }}"
                      style="display:inline;"
                      onsubmit="return confirm('Delete this user?');">

                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn-delete">
                        Delete
                    </button>
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
