{% extends "base.html" %}
{% block body %}

<h2 class="page-title">Create User</h2>

<div class="form-container">

    <form method="POST" action="{{ url_for('admin_bp.create_user') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <!-- Full Name -->
        <label>Full Name</label>
        <input
            type="text"
            name="fullname"
            placeholder="Enter full name"
            required
        >

        <!-- Email -->
        <label>Email</label>
        <input
            type="email"
            name="email"
            placeholder="Enter email"
            required
        >

        <!-- Password -->
        <label>Password</label>
        <input
            type="password"
            name="password"
            placeholder="Temporary password"
            required
        >

        <!-- Role -->
        <label>Role</label>
        <select name="role" required>
            <option value="">Select role</option>
            <option value="doctor">Doctor</option>
            <option value="reception">RECEPTIONIST</option>
        </select>

        <button class="btn-primary" type="submit">
            Create User
        </button>
    </form>

</div>

{% endblock %}
