/* ----view invoice ----*/
/*  payment modal */

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-content {
    background: #ffffff;
    padding: 20px;
    width: 360px;
    border-radius: 10px;
}

.modal .close {
    font-size: 20px;
    cursor: pointer;
    float: right;
}
